@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --gray: #B6B6BD;
    --red: #687195;
    --light-bg: #E0E4E8;
    --dark-bg: #333;
    --header-bg: #687195;
    --header-color: #fff;
    --footer-bg: #B6B6BD;
    --footer-color: #000;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--header-bg);
    color: var(--header-color);
    text-align: center;
    box-shadow: 0 0 10px var(--dark-bg);
}

header h1 {
    margin: 5px;
    padding: 20px;
}

footer {
    background: var(--footer-bg);
    color: var(--footer-color);
    padding: 2rem;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 10px var(--dark-bg);
}

.container {
    position: relative;
}

.hero picture img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px var(--dark-bg);
}

.data,
.weather {
    background-color: var(--light-bg);
    color: black; /* Ensure text is visible */
    box-shadow: 0 0 10px var(--dark-bg);
    border: 2px solid #ccc;
    border-radius: 16px;
    padding: 10px;
    margin: 10px;
}

.label p {
    font-weight: bold;
    margin: 0; /* Remove default margin for labels */
}

.text p {
    margin: 0; /* Remove default margin for text */
}

.data .label,
.weather .label {
    text-align: right;
    padding-right: 10px;
    flex: 1; /* Make label flexible to fill space */
}

.data .text,
.weather .text {
    text-align: left;
    padding-right: 10px;
    flex: 2; /* Make text flexible to fill space */
}

.data h2,
.weather h2 {
    text-align: center;
    color: black; /* Ensure title text is visible */
    font-weight: bold;
}

.weather picture {
    text-align: center;
    width: 100%;
    height: auto;
}

.data,
.weather {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Distribute space between labels and text */
    padding: 10px; /* Adjust padding as needed */
}

@media (orientation: portrait) {
    body {
        font-size: 4vw;
    }

    .data,
    .weather {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px;
    }
}

@media screen and (min-width: 700px) {
    .container {
        position: relative;
    }

    .weather {
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding-left: 20px;
        padding-right: 20px;
        opacity: 0.85;
    }

    .data {
        position: absolute;
        top: 20px;
        left: 20px;
        padding-left: 20px;
        padding-right: 20px;
        opacity: 0.85;
    }

    #weather-title::after {
        content: " ⛅";
    }

    .weather picture {
        display: none;
    }

    .data,
    .weather {
        display: flex; /* Use flexbox layout for wider screens */
    }
}
