@media (min-width: 768px) {
    main {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    }

    nav {
        display: flex;
        justify-content: flex-end;
    }

    header {
        justify-content: space-between; 
    }
}
